

@media screen and (max-width:992px){
    nav{
        background-color:black;
    }
    #tools,
    #blog{
        height: auto;
    }
    .resume-content{
        margin: 0;
      }

}

@media screen and (max-width:500px){
    .social-media li{
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
    .jumbotron h1{
        font-size: 35px;
    }
    .jumbotron p:nth-child(3){
        font-size: 18px;
    }
    .jumbotron p:nth-child(4){
        font-size: 15px;
    }
    .caption p:nth-child(3){
        font-size: 15px;
    }
}